<div class="h-screen flex bg-gray-bg1 w-full">
    <div class="flex align-center h-screen w-full">
        <div class=" w-full  ">
            <div class="md:flex align-center justify-between h-full items-center flex-wrap md:flex-nowrap 	">
                <div class=" md:p-8 p-2 w-full 	 relative">
                    <div class=" pt-0">
                        <div
                            class="w-full max-w-md m-auto bg-white rounded-lg border border-primaryBorder shadow-default py-8 px-8">
                            <div class="text-center mb-2	">
                                <img src="/images/logoSite.png" width="100"
                                    class="mx-auto p-3 bg-purple-100 rounded-full" />
                            </div>
                            <h1 class="text-xl font-medium text-gray-700 mb-10 text-center">
                                Log in to your account
                            </h1>
                            <form [formGroup]="this.loginForm" (ngSubmit)="onSubmit()" #loginFormText="ngForm"
                                class="text-left" id="loginFormText">
                                <div class="parentGroup">
                                    <label htmlFor="email" class="pb-2 block text-gray-400">
                                        Email
                                    </label>
                                    <input type="email" class='w-full p-3 text-primary border rounded-md outline-none
                                        text-sm transition duration-150 ease-in-out mb-4' id="email"
                                        formControlName="email" placeholder="Your Email" />
                                    <div *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                                        class="error-message">
                                        <div *ngIf="email?.errors?.['required']">Email is required.</div>
                                        <div *ngIf="email?.errors?.['email']">Invalid email format.</div>
                                    </div>
                                </div>
                                <div class="parentGroup">
                                    <label htmlFor="password" class="pb-2 block text-gray-400">
                                        Password
                                    </label>
                                    <input type="password" class='w-full p-3 text-primary border rounded-md outline-none
                                        text-sm transition duration-150 ease-in-out mb-2' id="password"
                                        formControlName="password" placeholder="Your Password" />
                                    <div *ngIf="password?.invalid && (password?.dirty || password?.touched)"
                                        class="error-message">
                                        <div *ngIf="password?.errors?.['required']">Password is required.</div>
                                        <div *ngIf="password?.errors?.['minlength']">Password must be at least 6
                                            characters long.</div>
                                    </div>
                                    <p class="text-purple-600 text-right font-medium">
                                        <a routerLink="/">Forgot password?</a>
                                    </p>
                                </div>

                                <div class=" mt-6 text-center">
                                    <button type="submit" [disabled]="loginForm.invalid" class='bg-purple-500 py-3 font-medium w-full px-4 text-md text-white
                                        mb-2 rounded border border-purple focus:outline-none focus:border-purple '>
                                        Login
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>