<!-- login.component.html -->
<div class="login-container">
    <h2>Login</h2>
    <form [formGroup]="this.loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email">
        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error-message">
          <div *ngIf="email?.errors?.['required']">Email is required.</div>
          <div *ngIf="email?.errors?.['email']">Invalid email format.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password">
        <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="error-message">
          <div *ngIf="password?.errors?.['required']">Password is required.</div>
          <div *ngIf="password?.errors?.['minlength']">Password must be at least 6 characters long.</div>
        </div>
      </div>
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
  </div>